*{
  margin-top: 0;
}

html{
  /*css tricks had a way to adjust an img in a page at all times, no matter screen or browser size*/
  background: url("background.") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  padding-top: 50px;
  background-image: url("background.jpg");
}

/*#613318;*/
/*660000*/

#body {
  color: #E6DEDC;
  background: rgba(13,13,13,0.75)
  min-height: 1500px;
}

#fml-css{
  padding: 20px;
  display: float;
  background: rgba(13,13,13,0.85);
}

table {
  background: rgba(102,0,0,0.85);
}

/*#top-header{
  height: 80px;
  background-color: #660000;
  opacity: .30;
}*/

/*#slide{
  margin-top: 100px;
  margin: auto;
  color: #820107;
}*/

#text-block-header{
  background: rgba(13,13,13,0.75);
}

.frasier-is-cool tr, .frasier-is-cool td, td, th{
  margin-top: 10px;
  border: 2px solid #E6DEDC;
  padding: 8px;
}

thead {
  border: 2px solid #000000;
  border-bottom: 0px;
}

#nav-bar {
  top: 0;
  left: 0;
  height: 40px;
  position: fixed;
  width: 110%;
  background: rgba(102,0,0,0.85);
}

#nav-bar-item{
  margin-left: 10px;
  margin-right: -5px;
  margin-top: 1px;
  background-color: #131313;
  border-radius: 1px;
  display: inline-block;
  border: solid #131313;
  opacity: .85;
  text-decoration: none;
  text-transform: lowercase;
  font-family: helvetica;
  font-weight: bold;
  font-size: 24px;
  color: #E6DEDC;
  border-width: 1.5px;
  padding: 0px 2px;
}

#fish{
  position: absolute;
  top: 0;
  right: 10%;
}

.hidden {
  display: none;
}
.active {
  color: #FF7777;
/* Drop Down Book Lists jQuery*/
}

label, input{
  display: block;
}


#new-store-form{
  display: inline-block;
  margin: 0 auto;
  padding: 8px;
  margin-top: 25%;
}

fieldset {
  color: #E6DEDC;
  background-color: #660000;
  background: rgba(102,0,0,0.85);
  margin-right: 20px;
  padding-right: 15px;
}

button{
  margin-top: 10px;
  margin-left: 60px;
  radius: 3px;
  text-align: center;
  color: #E6DEDC;
  background: rgba(102,0,0,0.85);
}

ul{
  list-style-type: square;
  margin: 0;
  padding: 0;
}

li{
  margin: 0px;
  padding: 0px;
  display: inline;
}

#nav-bar-item:hover {
  /*background-color: #660000;
  color: #660000;*/
  background: rgba(13,13,13,0.75)
}

h1{
  float: right;
}

.our-stores-pix{
  float;
  /*padding: 20px 20px 10px 10px;*/
  display:inline-block;
  height: 70%;
  width: 70%;
  max-width: 100%;
}


/*h1{
  max-width: 400px;
  display: inline;
  float: left;
  text-transform: lowercase;
  background: rgba(102,0,0,0.85);
}


p{
  position: relative;
  max-width: 500px;
  max-height: 250px
  display: inline;
  float: left;*/
}

/*.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    background-color: #131313;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: list-item;;
}*/
