body {
  background-color: #E6DEDC;
  min-height: 3000px;
  border: 2px solid;
}
#fishy{
  background-color: #EB8F8E;
  margin: 0 auto;
}
.container_12{
  padding-left: 50px;
}

/*.container_12 nav{
  display: inline-block;
  border-radius: 12px;
  position: fixed;
  width: 300px;
  background-color: #EB8F8E;
  opacity: .8;
}*/

.frasier-is-cool tr, .frasier-is-cool td{
  border: 2px solid #000000;
}

thead{
  border: 2px solid #000000;
  border-bottom: 0px;
}

nav{
  position: fixed;
}

nav a{
  display: inline-block;
  border: solid #111111;
  border-radius: 5px;
  opacity: .85;
  background-color: #111111;
  text-decoration: none;
  text-transform: lowercase;
  margin: 0 auto;
  font-family: helvetica;
  font-weight: bold;
  font-size: 24px;
  color: #E6DEDC;
  border-width: 1.5px;
}

.hidden {
  display: none;
}
.active {
  color: #FF7777;
/* Drop Down Book Lists jQuery*/

#first-user-heading{
  color: blue;
}

label, input{
  display: block;
}

#new-store-form{
  display: block;
  width: 30%
  margin: 0 auto;
}
