body {
  background-color: #E6DEDC;
  min-height: 3000px;
}
div{
  background-color: #EB8F8E;
}
.container_12{
  padding-left: 50px;
}

nav{
  display: inline-block;
  border-radius: 12px;
  position: fixed;
  /*width: 300px;*/
  background-color: #EB8F8E;
  left: 18.2%;
  opacity: .8;
}
/*nav a:nth-child(2){
  display: inline-block;
  border-radius: 12px;
  position: absolute;
  width: 300px;
  background-color: #EB8F8E;
  left: 24.55%;
  opacity: .8;
}
nav a:nth-child(3){
  display: inline-block;
  border-radius: 12px;
  position: absolute;
  width: 300px;
  background-color: #EB8F8E;
  left: 24.55%;
  opacity: .8;
}
nav a:nth-child(4){
  display: inline-block;
  border-radius: 12px;
  position: absolute;
  width: 300px;
  background-color: #EB8F8E;
  left: 24.55%;
  opacity: .8;
}*/
/*
dt {
  font-weight: bold;
}*/


.frasier-is-cool tr, .frasier-is-cool td{
  border: 2px solid #000000;
}

thead{
  border: 2px solid #000000;
  border-bottom: 0px;
}

nav a{
  border-radius: 15px 0px;
  opacity: .85;
  /*background-color: #FAEBD7;*/
  text-decoration: none;
  text-transform: lowercase;
  margin: 0 60px 0 75px;
  font-family: helvetica;
  font-weight: bold;
  font-size: 24px;
  color: #111111;
  border-width: 1.5px;
}

.hidden {
  display: none;
}
.active {
  color: #FF7777;
/* Drop Down Book Lists jQuery*/
